<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <h1>PORTFOLIO CARLOS GONZALEZ</h1>
    </header>

    <%- include("partials/menu") %>
    <div class="container">
        <div class="preguntas">
        <!-- Descripción de la Práctica -->
        <section class="practice-description">
            <h2>Descripción de la Práctica</h2>
            <p>El objetivo principal de esta práctica era entender y hacer una estructura modelo vista controlador (MVC).</p>
            <p>Utilizamos la arquitectura (MVC) para hacer estas prácticas.</p>
            <p>Para ello usamos el Visual Studio Code.</p>
        </section>

        <img src="img/mvc.png" alt="Descripción de la imagen">
        
        <!-- Resultados y Análisis -->
        <section class="results-analysis">
            <h2>Resultados y Análisis</h2>
            <p>Como resultado de la práctica obtuvimos una pequeña aplicación web.</p>
        </section>

        <video width="640" height="360" controls>
            <source src="img/captura.mp4" type="video/mp4">
        </video>

        <!-- Reflexiones Personales y Aprendizaje -->
        <section class="personal-reflection">
            <h2>Reflexiones Personales y Aprendizaje</h2>
            <p>Durante estas prácticas pude aprender a estructurar de forma correcta las páginas web con el backend.</p>
            <p>Mejoré mucho en cuanto a lógica y estructuración.</p>
        </section>

        <!-- Desafíos y Soluciones -->
        <section class="challenges-solutions">
            <h2>Desafíos y Soluciones</h2>
            <p>En general con esta práctica no tuve ningún problema ni desafío.</p>
        </section>

        <!-- Conexión con Objetivos Educativos o Profesionales -->
        <section class="educational-professional-connection">
            <h2>Conexión con Objetivos Educativos o Profesionales</h2>
            <p>Esta práctica me ayudó bastante para poder comprender mejor nodejs posteriormente, lo que ahora me sirve para estructurar de manera correcta mis proyectos.</p>
        </section>

        <!-- Mejoras y Aplicaciones Futuras -->
        <section class="future-improvements">
            <h2>Mejoras y Aplicaciones Futuras</h2>
            <p>Esta práctica es breve e introductoria al desarrollo backend así que si puedo decir algo aquí es lo que he dicho antes de que me ayuda a poderlo aplicar en futuros proyectos e incluso en algunos existentes para tener una mejor estructura.</p>
        </section>
        <br>
        <br>
        <br>
        <br>
    </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>
