<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <h1>PORTFOLIO CARLOS GONZALEZ</h1>
    </header>

    <%- include("partials/menu") %>
    <div class="container">
        <div class="preguntas">
        <!-- Descripción de la Práctica -->
        <section class="practice-description">
            <h2>Descripción de la Práctica</h2>
            <p>En estas prácticas debíamos desarrollar el backend de una web con nodejs y añadirlo a un repositorio en github.</p>
            <p>Solo necesitamos el VSCode u otro editor de código en su defecto para hacerlas correctamente.</p>

            <img src="img/vscode.png" alt="Descripción de la imagen">

            <p>Para hacerlas desarrollamos el código que se muestra en los siguientes enlaces:</p>
            <a href="https://github.com/DJCARLOX/prueba_javascript/tree/main">--> EJERCICIO: SERVIDOR WEB + LECTURA DE FICHERO EN NODEJS</a>
            <br>
            <a href="https://github.com/DJCARLOX/prueba_javascript/tree/main">--> EJERCICIO: FORMULARIO PARA MOVER ARCHIVO DE DIRECTORIO</a>
            <p>Para poderlas subir a nuestro repositorio remoto estuvimos aprendiendo a hacerlo con los comandos de git.</p>
            <pre>
                <code>
    git init
    git clone url
    git add archivo
    git add .
    git rm archivo
    git commit -m "mensaje"
    git branch
    git branch nombre_rama
    git checkout nombre_rama
    git merge nombre_rama
    git pull
    git push
    git log
    git log --oneline
    git remote
    git remote add nombre url
    git fetch nombre_remoto
    git merge nombre_remoto/nombre_rama
    git reset archivo
    git reset --hard
    git tag
    git tag nombre_tag
    git status
    git diff
    git checkout -- archivo
                </code>
            </pre>
        </section>

        <img src="img/git.png" alt="Descripción de la imagen">

        <!-- Resultados y Análisis -->
        <section class="results-analysis">
            <h2>Resultados y Análisis</h2>
            <p>Como resultados obtenemos una web bien desarrollada con nodejs</p>
            <p>En los Laboratorios que hizimos de Git hubo algún resultado extraño ya que a veces había mucho caos con las ramas.</p>
        </section>

        <!-- Reflexiones Personales y Aprendizaje -->
        <section class="personal-reflection">
            <h2>Reflexiones Personales y Aprendizaje</h2>
            <p>Estas prácticas pude repasar algunas cosas sobre nodejs ya que yo ya sabía algo y sobretodo los Laboratorios de Git me ayudaron mucho a comprender como se trabaja en proyectos colaborativos en github</p>
            <p>He podido mejorar la manera de ver el entorno backend y a mejorar mis destrezas en este mismo sector.</p>
        </section>

        <!-- Desafíos y Soluciones -->
        <section class="challenges-solutions">
            <h2>Desafíos y Soluciones</h2>
            <p>Como en casi todas las prácticas, hay algún que otro error de código, pero al nivel que estamos viendo ahora es muy sencillo de solucionar mirando bien el código, con ChatGPT o buscando en páginas como StackOverflow.</p>
        </section>

        <!-- Conexión con Objetivos Educativos o Profesionales -->
        <section class="educational-professional-connection">
            <h2>Conexión con Objetivos Educativos o Profesionales</h2>
            <p>Estas prácticas son las que más me van a servir para proyectos personales y profesionales ya que ahora mismo me encuentro usandolo para hacer diversos proyectos con páginas web y por supuesto subiéndolo todo a mi repositorio en Github.</p>
            <p>Estas prácticas influyen en mi comprensión del campo del desarrollo cooperativo.</p>
        </section>

        <!-- Mejoras y Aplicaciones Futuras -->
        <section class="future-improvements">
            <h2>Mejoras y Aplicaciones Futuras</h2>
            <p>Si tuviera que repetir esta práctica, le subiría un poco más el nivel de dificultad para hacer algo más complejo.</p>
            <p>Todo lo que he aprendido a lo largo de estas prácticas ahora mismo lo estoy aplicando para muchos proyectos tanto personales como para clase y estoy seguro de que también los seguiré aplicando en un futuro.</p>
        </section>

        <img src="img/node.png" alt="Descripción de la imagen">

    </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <%- include("partials/footer") %>
</body>
</html>
