<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <h1>PORTFOLIO CARLOS GONZALEZ</h1>
    </header>

    <%- include("partials/menu") %>
    <div class="container">
        <div class="preguntas">
        <!-- Reflexion -->
        <section class="Reflexion">
            <h2>Reflexión Global</h2>
            <p>¿Cómo han evolucionado tus habilidades y conocimientos a lo largo de estas prácticas?</p>
            <p>¿Qué temas o áreas te han interesado más y por qué?</p>
        </section>

        <!-- Aprendizaje -->
        <section class="Aprendizaje">
            <h2>Integración del Aprendizaje</h2>
            <p>¿Cómo se interconectan las diferentes prácticas en tu proceso de aprendizaje?</p>
            <p>¿Hay algún concepto o habilidad que haya sido particularmente relevante en varias prácticas?</p>
        </section>

        <!-- Futuro -->
        <section class="Futuro">
            <h2>Planes Futuros</h2>
            <p>¿Cómo planeas aplicar lo aprendido de estas prácticas en tu futuro académico o profesional?</p>
            <p>¿Qué áreas te gustaría explorar o profundizar más?</p>
        </section>

    </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>
