<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <h1>PORTFOLIO CARLOS GONZALEZ</h1>
    </header>

    <%- include("partials/menu") %>
    <div class="container">
        <div class="preguntas">
        <!-- Reflexion -->
        <section class="Reflexion">
            <h2>Reflexión Global</h2>
            <p>A lo largo de estas prácticas, mis habilidades y conocimientos han evolucionado bastante, he podido aprender mucho sobre el despliegue de aplicaciones web y ahora me veo capáz de crear mis porpias webs.</p>
            <p>En particular me ha interesado más el desarrollo backend con nodejs.</p>
        </section>

        <!-- Aprendizaje -->
        <section class="Aprendizaje">
            <h2>Integración del Aprendizaje</h2>
            <p>Todas las prácticas que hemos hecho se interconectan de manera que al final somos capaces de poder crear una web con su arquitectura, lógica, front-end y back-end.</p>
            <p>Creo que lo más relevante que he podido aprender es toda la estructura web y la manera para desarrollarla.</p>
        </section>

        <!-- Futuro -->
        <section class="Futuro">
            <h2>Planes Futuros</h2>
            <p>Podría aplicar lo aprendido de estas prácticas en mi futuro académico o profesional para desarrollar proyectos en los que necesite crear aplicaciones web.</p>
            <p>Me gustaría explorar o profundizar más en en área de la seguridad informática.</p>
        </section>

        <img src="img/desarrollo.png" alt="Descripción de la imagen">
        <br>
        <br>
        <br>
        <br>

    </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>
