<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <h1>PORTFOLIO CARLOS GONZALEZ</h1>
    </header>

    <%- include("partials/menu") %>
    <div class="container">
        <div class="preguntas">
        <!-- Descripción de la Práctica -->
        <section class="practice-description">
            <h2>Descripción de la Práctica</h2>
            <p>¿Cuál fue el objetivo principal de esta práctica?</p>
            <p>¿Qué métodos o procedimientos utilizaste?</p>
            <p>¿Qué materiales o herramientas fueron necesarios?</p>
        </section>

        <!-- Resultados y Análisis -->
        <section class="results-analysis">
            <h2>Resultados y Análisis</h2>
            <p>¿Cuáles fueron los resultados principales de la práctica?</p>
            <p>¿Cómo interpretamos estos resultados?</p>
            <p>¿Hubo algún resultado inesperado? ¿Cómo lo manejaste?</p>
        </section>

        <!-- Reflexiones Personales y Aprendizaje -->
        <section class="personal-reflection">
            <h2>Reflexiones Personales y Aprendizaje</h2>
            <p>¿Qué aprendiste durante esta práctica?</p>
            <p>¿Cómo aplicaste conocimientos teóricos en esta experiencia práctica?</p>
            <p>¿Qué habilidades desarrollaste o mejoraste?</p>
        </section>

        <!-- Desafíos y Soluciones -->
        <section class="challenges-solutions">
            <h2>Desafíos y Soluciones</h2>
            <p>¿Enfrentaste algún desafío durante esta práctica? ¿Cómo lo superaste?</p>
            <p>¿Hubo algún error o fallo? ¿Qué aprendiste de él?</p>
        </section>

        <!-- Conexión con Objetivos Educativos o Profesionales -->
        <section class="educational-professional-connection">
            <h2>Conexión con Objetivos Educativos o Profesionales</h2>
            <p>¿Cómo contribuye esta práctica a tus objetivos académicos o profesionales?</p>
            <p>¿De qué manera esta práctica influye en tu comprensión del campo de estudio o profesión?</p>
        </section>

        <!-- Mejoras y Aplicaciones Futuras -->
        <section class="future-improvements">
            <h2>Mejoras y Aplicaciones Futuras</h2>
            <p>Si tuvieras que repetir esta práctica, ¿qué mejorarías?</p>
            <p>¿Cómo puedes aplicar lo aprendido en futuras prácticas o proyectos?</p>
        </section>
    </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>
