<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <h1>PORTFOLIO CARLOS GONZALEZ</h1>
    </header>

    <%- include("partials/menu") %>
    <div class="container">
        <div class="preguntas">
        <!-- Descripción de la Práctica -->
        <section class="practice-description">
            <h2>Descripción de la Práctica</h2>
            <p>El objetivo principal de la práctica era crear páginas estáticas utilizando Hugo.</p>
            <p>Para ello hay que seguir estos pasos:</p>
            <pre>
                <code>
        hugo new site quickstart
        cd quickstart
        git init
        git submodule add https://github.com/theNewDynamic/gohugo-theme-ananke.git themes/ananke
        echo "theme = 'ananke'" >> hugo.toml
        hugo server
                </code>
            </pre>
            <p>Luego añadir posts si es necesario y todo se hace en markdown.</p>
        </section>

        <img src="img/hugo.png" alt="Descripción de la imagen">

        <!-- Resultados y Análisis -->
        <section class="results-analysis">
            <h2>Resultados y Análisis</h2>
            <p>Como resultados principales de la práctica obtuvimos una manera sencilla y eficaz de crear páginas estáticas.</p>
            <p>Aveces salian algunos resultados inesperados pero todo se acababa resolviendo ya sea con la ayuda de ChatGPT o buscando en sitios como StackOverflow.</p>
        </section>

        <!-- Reflexiones Personales y Aprendizaje -->
        <section class="personal-reflection">
            <h2>Reflexiones Personales y Aprendizaje</h2>
            <p>Durante la práctica aprendí lo fácil y rapido que podemos crear estas páginas estáticas.</p>
        </section>

        <!-- Desafíos y Soluciones -->
        <section class="challenges-solutions">
            <h2>Desafíos y Soluciones</h2>
            <p>Tuve algunos problemas para publicarla en los hosts gratuitos que usabamos como 000webhost, pero con surge era mucho más sencillo y rápido, además de ser la que mejor funcionaba.</p>
            <p>En general no tuve tantos errores en esta práctica.</p>
        </section>

        <img src="img/surge.png" alt="Descripción de la imagen">
        <img src="img/000webhost.png" alt="Descripción de la imagen">
        <br>
        <br>

        <!-- Conexión con Objetivos Educativos o Profesionales -->
        <section class="educational-professional-connection">
            <h2>Conexión con Objetivos Educativos o Profesionales</h2>
            <p>Esta práctica puede contribuir en mis conocimientos sobre las páginas estáticas y como introducción a como funciona el mundo web.</p>
            <p>Sobretodo para estructurar las bases de como funcionan.</p>
        </section>

        <!-- Mejoras y Aplicaciones Futuras -->
        <section class="future-improvements">
            <h2>Mejoras y Aplicaciones Futuras</h2>
            <p>Si tuviera que repetir esta práctica, la intentaría mezclar con algo de automatización para generar páginas.</p>
            <p>Podría aplicar lo aprendido para mezclarlo con temas de automatización con Powershell.</p>
        </section>

        <img src="img/automatización.png" alt="Descripción de la imagen">
        
        <h2>Enlace de una de las webs estáticas que logré hacer</h2>
        <br>
        <a href="http://disagreeable-chickens.surge.sh" target="_blank">
            <img src="img/Greenscape.png" alt="Descripción de la imagen">
        </a>
        <br>
        <br>
        <br>
        <br>

    </div>
    </div>

    <%- include("partials/footer") %>
</body>
</html>
