<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PORTFOLIO</title>
  <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
  <%- include("partials/head") %>
</head>
<body>
  <header>
    <h1>PORTFOLIO CARLOS GONZALEZ</h1>
  </header>

  <%- include("partials/menu") %>

  <div class="content">
    <h4> Si pinchas en la imagen irás a mi github donde podrás ver otros de mis repositorios...</h4>
    <a href="https://github.com/DJCARLOX" target="_blank">
      <img src="img/pecos-bill.jpg" alt="Descripción de la imagen">
    </a>
  </div>

  <%- include("partials/footer") %>
</body>
</html>