<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="icon" type="image/x-icon" href="/img/pecos-bill.jpg">
    <%- include("partials/head") %>
</head>
<body>
    <header>
        <h1>PORTFOLIO CARLOS GONZALEZ</h1>
    </header>

    <%- include("partials/menu") %>
    <div class="container">
        <div class="preguntas">
        <!-- Descripción de la Práctica -->
        <section class="practice-description">
            <h2>Descripción de la Práctica</h2>
            <p>Esta era una simple práctica introductoria en la que teníamos que crear un museo virtual.</p>
            <p>En mi caso lo hice sobre la Seguridad Informática.</p>
            <p>Para hacerlo utilicé el entorno que te proporciona <b>artsteps</b></p>
        </section>

        <!-- Resultados y Análisis -->
        <section class="results-analysis">
            <h2>Resultados y Análisis</h2>
            <p>Como resultado tenemos este museo interactivo donde se puede ver el avance de la Seguridad Informática a lo largo de los años</p>
        </section>

    </div>
        <iframe class="museo" width="560" height="315" src="https://www.artsteps.com/embed/650460d3ecd1622e42a68779/560/315" frameborder="0" allowfullscreen></iframe>
    </div>

    <%- include("partials/footer") %>
</body>
</html>
