body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(0, 132, 255);
  color: #000000;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgb(60, 80, 83);
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: aqua;
}


.content {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: auto; 
  margin-top: 100px;
}

h1 {
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
  color: black;
  background-color: rgba(100, 148, 237, 0.596);
}

h3 {
  font-family: fantasy;
  color: black;
  background-color: rgba(176, 201, 247, 0.596);
  max-width: 500px;
}

a {
  font-family: fantasy;
}

p {
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

h4:hover {
  color: rgb(59, 188, 247);
}

.pecos {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

img {
  max-width: 600px;
  max-height: 300px;
  margin-bottom: 20px;
}

.capturas {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.museo {
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 90vh;
  margin: auto;
  margin-left: 50px;
  margin-top: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

pre {
  background-color: #919191;
  padding: 10px;
  overflow: auto;
  font-size: 14px;
  border: 1px solid #000000;
  line-height: 1.45;
}
code {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
}