<style>
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(60, 80, 83);
    padding: 10px;
  }
  .h4 {
    color: #ffffff;
  }
</style>

<footer class="text-center p-2">
  <p class="h4">C4RL0$ 2023 &copy;</p>
</footer>
