<nav>
    <a href="/">Inicio</a>
    <a href="/museo">Museo</a>
    <a href="/hugo">Hugo Framework</a>
    <a href="/arquitectura">Arquitectura Web</a>
    <a href="/servidores">Servidores Web</a>
    <a href="/nodejs">Nodejs</a>
    <a href="/general">En General</a>
</nav>